../static/<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Sugar Tax Investigation</title>
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css.map">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css.map">
		<link rel="stylesheet" href="../static/css/ripples.min.css.map">
		<link rel="stylesheet" href="../static/css/ripples.min.css">
		<link rel="stylesheet" href="../static/css/justified-nav.css">
		<link rel="stylesheet" href="../static/css/workaround.css">
		
		

	</head>
	<body>
		<div>
			<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Sugar Tax Investigation</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="research.html">Research</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>The Problem and Interest of research</h1>
        <h3>Is the sugar tax on soft drinks the best choice for health improvement or simply a political move ?</h3>
        <!--<img src="img/1000x300.png">-->
      </div>

      <!-- Example row of columns -->
      <div>
        <h4>Let us show first the interest of this question:</h4>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Health in UK</h2>
          <img src="img/400x200.png">
        </div>
      </div>
      <div>
        <div class="col-lg-6">
          <h2>Sugar consumption in UK</h2>
          <img src="img/400x200.png">
       </div>
        <div class="col-lg-6">
          <h2>Sugar value evolution</h2>
          <img src="img/400x200.png">
        </div>
      </div>

      <!-- Site footer img/-->
      <footer class="footer">
        <p>&copy; 2016 The DataScientistOfSouthampton</p>
      </footer>

    </div>
	</div>
		<script src="../static/js/workaround.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/ripples.min.js.map"></script>
		<script src="../static/js/ripples.min.js"></script>
		<script src="../static/js/npm.js"></script>
		<script src="../static/js/material.min.js"></script>
		<script src="../static/js/material.min.js.map"></script>
</html>