<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <h1>Food and Health</h1>

    <a href="/">Home<a/>
      <span class="separator">&#124;&#124;</span>
    <a href="/insert_dataset">Insert Dataset<a/>
      <span class="separator">&#124;&#124;</span>
    <a href="/view_dataset">View Dataset<a/>
      <span class="separator">&#124;&#124;</span>
    <a href="/delete_dataset">Delete Dataset<a/>

  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
