{% extends "p_layout.html" %}
{% block content %}
<div class="container">
	<div class="panel panel-danger">
	  <div class="panel-heading">
	    <h3 class="panel-title">Soft drink prices / health</h3>
	  </div>
	  <div class="panel-body">
	  	<h2>Sugar consumption</h2>
	  	<img src="/static/images/allpersons_allsugar.png"/>
	  	<p>This chart shows relation between sugar consumption and obesity. The result is not representing sugar's true nature because what the data say is, even though people get more and more obese each year, the consumption of sugar is decreasing. So, their obesity is not based on sugar consumption.</p>
	  	<h2>Soft Drinks (General)</h2>
	  	<img src="/static/images/allpersons_allsoftdrinks.png"/>
	  	<p>This chart shows relation between soft drinks consumption (in general) and obesity. Same as sugar consumption result, the relation between soft drink consumption and obesity is not as expected. It has negative correlation which leads us to analyse further in the details. </p>
	  	<h2>Low Calories Soft Drinks</h2>
	  	<img src="/static/images/allpersons_softdrinks_lowcal.png"/>
	  	<p>This chart shows correlation between low calories soft drinks consumption and obesity. Surprisingly, this correlation reach +0.9 point which means there is a very strong positive relationship between drinking low calories soft drinks and obesity. This fact leads us to conclusion that Sugar Tax Policy is aiming the right target  increasing tax price to soft drink products.
</p>
	  </div>
	</div>	
</div>
{% endblock %}