{% set active_page = 'health' %}
{% extends "p_layout.html" %}
{% block content %}
<div class="container">
	<div class="panel panel-danger">
	  <div class="panel-heading">
	    <h3 class="panel-title">Sugar tax</h3>
	  </div>
	  <div class="panel-body">
	  	<h4>Heatmap for England, showing the regional distribution of obesity cases</h4>
	    <!-- <div class="radio radio-inline">
          <label>
            <input type="radio" name="radio-years" value="2012" checked=""><span class="circle"></span><span class="check"></span>
            2012
          </label>
        </div>
        <div class="radio radio-inline">
          <label>
            <input type="radio" name="radio-years" value="2013" checked=""><span class="circle"></span><span class="check"></span>
            2013
          </label>
        </div> -->
        <div class="radio radio-inline">
          <label>
            <input type="radio" name="radio-years" value="2014" checked=""><span class="circle"></span><span class="check"></span>
            2014
          </label>
        </div>
        <div class="radio radio-inline">
          <label>
            <input type="radio" name="radio-years" value="2015" checked=""><span class="circle"></span><span class="check"></span>
            2015
          </label>
        </div>
      	</div>
	  	<div id="choroplethmap"></div>
      <script type="text/javascript" src='/static/csv/ccg2ons.js'></script>
	    <script>
	      DiabetesChoropleth.init('choroplethmap', );
	      $('[name="radio-years"]').on('change', function(e){
			    var year= e.target.value
			    DiabetesChoropleth.refresh(year);
			});
	    </script>
	  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Regional breakdown</h3>
    </div>
    <div class="panel-body">
      <h4>Relation between sugar consumption and regional obesity cases</h4>
      <select name="region">
        <option value="England" selected>England</option>
        <option value="North_East">North_East</option>
        <option value="North_West">North_West</option>
        <option value="Yorkshire_and_The_Humber">Yorkshire_and_The_Humber</option>
        <option value="East_Midlands">East_Midlands</option>
        <option value="West_Midlands">West_Midlands</option>
        <option value="East">East</option>
        <option value="London">London</option>
        <option value="South_East">South_East</option>
        <option value="South_West">South_West</option>
      </select>
      <div class='clearfix'></div>
      <br>
      <div class="ct-chart ct-octave health-chart1"></div>
      <div class="ct-chart ct-octave health-chart2"></div>
      <script type="text/javascript">
        $('[name="region"]').on('change', function(e){          
          window.chart1 = Chartist.Line('.health-chart1', window[e.target.value+'1'], options1);
          window.chart2 = Chartist.Line('.health-chart2', window[e.target.value+'2'], options2);
        });
        var data1 = {
          labels: [{%for year in years%}'{{year}}',{%endfor%}],
          series: [
          [{{chart_data['England']['consumption']|join(', ')}}],
          [{{chart_data['England']['hc']|join(', ')}}],
          [{{chart_data['England']['lc']|join(', ')}}]
          ]
        };
        var options1 = {
          plugins : [
            Chartist.plugins.legend({
                    legendNames: ['Consumption total' , 'High calorie' , 'Low calorie'],
                    position: 'top'
                }),
                Chartist.plugins.tooltip()
          ]
        };

        var chart1 = Chartist.Line('.health-chart1', data1, options1);
        window.chart1 = chart1;
        chart1.on('draw', function(data) {
          if(data.type === 'line' || data.type === 'area') {
            data.element.animate({
              d: {
                begin: 200 * data.index,
                dur: 500,
                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                to: data.path.clone().stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
          }
        });
        var data2 = {
          labels: [{%for year in years%}'{{year}}',{%endfor%}],
          series: [
          [{{chart_data['England']['obesity']|join(', ')}}]
          ]
        };
        var options2 = {
          plugins : [
            Chartist.plugins.legend({
                    legendNames: ['obesity'],
                    position: 'top'
                }),
                Chartist.plugins.tooltip()
          ]
        };

        var chart2 = Chartist.Line('.health-chart2', data2, options2);
        window.chart2 = chart2;
        chart2.on('draw', function(data) {
          if(data.type === 'line' || data.type === 'area') {
            data.element.animate({
              d: {
                begin: 200 * data.index,
                dur: 500,
                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                to: data.path.clone().stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
          }
        });
      </script>
    </div>
    <script type="text/javascript">
    {%for region in chart_data.iterkeys()%}
      window.{{region+'1'}} = {
          labels: [{%for year in years%}'{{year}}',{%endfor%}],
          series: [
            [{{chart_data[region]['consumption']|join(', ')}}],
            [{{chart_data[region]['hc']|join(', ')}}],
            [{{chart_data[region]['lc']|join(', ')}}]
          ]
        };
      window.{{region+'2'}} = {
        labels: [{%for year in years%}'{{year}}',{%endfor%}],
        series: [
            [{{chart_data[region]['obesity']|join(', ')}}]
        ]
      };
    {%endfor%}  
    </script>
</div>
{% endblock %}