{% extends "p_layout.html" %}
{% block content %}
<div class="container">
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Sugar tax</h3>
	  </div>
	  <div class="panel-body">
	  	<h4>What is Sugar Tax?</h4>
	  	<p>A Sugar Tax is a new proposal by the UK government that will target the soft drink manufacturers. The goal is to ultimately reduce the sugar content in the sugary drinks by setting a tresholod of sugar content in a drink, above which the new tax will be paid.</p>

	    <h4>When will it take place?</h4>
	    <p>The Sugar Tax implementation is planned in April 2018. By that time, manufacturers should adjust the contents of the sugar in their prices to avoid being affected by the tax. Some manufaturers have already started with changing of their products in order to make them under the set treshold of sugar.</p>

	    <h4>What does it mean for consumers?</h4>
	   	<p>The Tax is targeting the manufacturers, not the customers, and it is up to them how will they handle the scenario. In case the tax gets applied to their products, either they will raise the prices to keep the profits intact, or suffer a decrease in profits by not raising the prices for the end consumers.</p>
	  </div>
	</div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Why is it important?</h3>
	  </div>
	  <div class="panel-body">
	  	<p>The UK has one of the highest obesity rates among developed countries such as Sweden, Germany and France. The Figure below which looks at data from 2004 to 2014, shows that the number of obese people in the UK. Obviously, more and more people in the UK are obese. The number of obesity is similar among men and women, but men are more likely to be overweight. Between 2004 and 2014, the growth of obesity is 88.9% among men, and 91.7% among women.</p>
	  	<h4>Obesity cases in the past 10 years</h4>
	  	<div class="ct-chart ct-octave obesity-chart-index"></div>
	  	<script type="text/javascript">
	  		var data = {
			  labels: [{%for year in chart_data['health_years']%}'{{year}}',{%endfor%}],
			  series: [
				  [{{chart_data['health_total']|join(', ')}}],
				  [{{chart_data['health_male']|join(', ')}}],
				  [{{chart_data['health_female']|join(', ')}}],
				  [{{chart_data['health_unknown']|join(', ')}}]
			  ]
			};
			var options = {
				plugins : [
					Chartist.plugins.legend({
			            legendNames: ['Total', 'Male', 'Female', 'Unknown'],
			            position: 'top'
			        }),
			        Chartist.plugins.tooltip()
				]
			};
			var chart = Chartist.Line('.obesity-chart-index', data, options);
			chart.on('draw', function(data) {
			  if(data.type === 'line' || data.type === 'area') {
			    data.element.animate({
			      d: {
			        begin: 200 * data.index,
			        dur: 500,
			        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
			        to: data.path.clone().stringify(),
			        easing: Chartist.Svg.Easing.easeOutQuint
			      }
			    });
			  }
			});
	  	</script>
	  </div>

	  <h4>Obesity cases in the past 10 years</h4>
	  	<div class="ct-chart ct-octave obesity-chart-index2"></div>
	  	<script type="text/javascript">
	  		var data2 = {
			  labels: [{%for year in chart_data['age_years']%}'{{year}}',{%endfor%}],
			  series: [
				  [{{chart_data['ages_all']|join(', ')}}],
				  [{{chart_data['ages_16']|join(', ')}}],
				  [{{chart_data['ages_24']|join(', ')}}],
				  [{{chart_data['ages_34']|join(', ')}}],
				  [{{chart_data['ages_44']|join(', ')}}],
				  [{{chart_data['ages_54']|join(', ')}}],
				  [{{chart_data['ages_64']|join(', ')}}],
				  [{{chart_data['ages_74']|join(', ')}}],
				  [{{chart_data['ages_over']|join(', ')}}],
				  [{{chart_data['ages_unknown']|join(', ')}}]
			  ]
			};
			var options2 = {
				plugins : [
					Chartist.plugins.legend({
			            legendNames: ['All ages', 'Under 16', '16 to 24', '35 to 44', '35 to 44', '45 to 54', '55 to 64', '65 to 74', '75 and over', 'Unknown'],
			            position: 'top'
			        }),
			        Chartist.plugins.tooltip()
				]
			};
			var chart2 = Chartist.Line('.obesity-chart-index2', data2, options2);
			chart2.on('draw', function(data) {
			  if(data.type === 'line' || data.type === 'area') {
			    data.element.animate({
			      d: {
			        begin: 200 * data.index,
			        dur: 500,
			        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
			        to: data.path.clone().stringify(),
			        easing: Chartist.Svg.Easing.easeOutQuint
			      }
			    });
			  }
			});
	  	</script>
	  </div>
	</div>
</div>
{% endblock %}