{% extends "p_layout.html" %}
{% block content %}
<div class="container">
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Sugar tax</h3>
	  </div>
	  <div class="panel-body">
	  	<h4>What is Sugar Tax?</h4>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	    <h4>When will it take place?</h4>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	    <h4>What does it mean for consumers?</h4>
	   	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	   	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	   	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	   	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	   	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  </div>
	</div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Why is it important?</h3>
	  </div>
	  <div class="panel-body">
	  	<h4>Obesity cases in the past 10 years</h4>
	  	<div class="ct-chart ct-octave obesity-chart-index"></div>
	  	<script type="text/javascript">
	  		var data = {
			  labels: [{%for year in chart_data['health_years']%}'{{year}}',{%endfor%}],
			  series: [
				  [{{chart_data['health_total']|join(', ')}}],
				  [{{chart_data['health_male']|join(', ')}}],
				  [{{chart_data['health_female']|join(', ')}}],
				  [{{chart_data['health_unknown']|join(', ')}}]
			  ]
			};
			var options = {
				plugins : [
					Chartist.plugins.legend({
			            legendNames: ['Total', 'Male', 'Female', 'Unknown'],
			            position: 'top'
			        }),
			        Chartist.plugins.tooltip()
				]
			};
			var chart = Chartist.Line('.obesity-chart-index', data, options);
			chart.on('draw', function(data) {
			  if(data.type === 'line' || data.type === 'area') {
			    data.element.animate({
			      d: {
			        begin: 300 * data.index,
			        dur: 1000,
			        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
			        to: data.path.clone().stringify(),
			        easing: Chartist.Svg.Easing.easeOutQuint
			      }
			    });
			  }
			});
	  	</script>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	    <h4>Consumption of sugary drinks</h4>
	    <div class="ct-chart ct-octave consumption-chart-index"></div>
	    <script type="text/javascript">
	  		var data = {
			  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
			  series: [
			    [5, 2, 4, 2, 0]
			  ]
			};
			new Chartist.Line('.consumption-chart-index', data);
	  	</script>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  </div>
	</div>
</div>
{% endblock %}