<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Sugar Tax</title>
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css.map">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css.map">
		<link rel="stylesheet" href="../static/css/ripples.min.css.map">
		<link rel="stylesheet" href="../static/css/ripples.min.css">
		<link rel="stylesheet" href="../static/css/justified-nav.css">
		<link rel="stylesheet" href="../static/css/workaround.css">
		
		

	</head>
	<body>
		<div>
			<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Sugar Tax Investigation</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="home">Home</a></li>
            <li class="active"><a href="research">Research</a></li>
            <li><a href="conclusion">Conclusion</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>The research</h1>
        <img src="../static/img/1000x300.png">
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <h2>UK region distribution of general sugar consumption VS health issues in those regions</h2>
          <img src="../static/img/400x200.png">
        </div>
        <div class="col-lg-6">
          <h2>UK region distribution of soft drinks consumption VS health issues in those regions</h2>
          <img src="../static/img/400x200.png">
       </div>
      </div>
      <div>
      <div class="row">
        <div class="col-lg-6">
          <h2>Soft drinks prices VS Expenses on soft drinks</h2>
          <img src="../static/img/400x200.png">
        </div>
        <div class="col-lg-6">
          <h2>Soft drinks consumption VS price fluctuations</h2>
          <img src="../static/img/400x200.png">
       </div>
      </div>
      <div>
        <div>
          <h2>Soft drinks consumption VS health issues</h2>
          <img src="../static/img/400x200.png">
        </div>
      </div>
      <div>
      <div class="row">
        <div class="col-lg-6">
          <h2>historical sugar prices (+$ index for normaisation) VS general sugar consumption</h2>
          <img src="../static/img/400x200.png">
        </div>
        <div class="col-lg-6">
          <h2>historical sugar prices VS soft drinks consumption</h2>
          <img src="../static/img/400x200.png">
       </div>
      </div>

    </div>
	</div>
  <br>
  <br>
		<script src="../static/js/workaround.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/ripples.min.js.map"></script>
		<script src="../static/js/ripples.min.js"></script>
		<script src="../static/js/npm.js"></script>
		<script src="../static/js/material.min.js"></script>
		<script src="../static/js/material.min.js.map"></script>
</html>